{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Posts
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card-border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        Total de posts {{total.total}} - Activos {{total.activo}} - Inactivos {{total.inactivo}}
        <a href="{{url('admin/posts/cadastrar')}}" class="btn btn-primary">Cadastrar</a>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th class="text-center">Acção</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th>{{post.id}}</th>
                        <td>{{post.titulo}}</td>
                        <td>
                            {% if post.status == 1 %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                                                                        
                        <td class="text-center">
                             <a href="{{ url('admin/posts/editar/'~post.id) }}">Editar</a>
                             <a href="{{ url('admin/posts/deletar/'~post.id) }}">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div> 
 </div>
{% endblock %}