{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url('admin/dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-dark bg-opacity-25">
                <span class="text-dark bg-opacity-100">{{ total.posts }} posts</span>
            </span>
            <span class="badge text-bg-success bg-opacity-100">
                {{ total.postsAtivo }} ativos
            </span>
            <span class="badge text-bg-danger bg-opacity-100">
                {{ total.postsInativo }} inativos
            </span>
        </div>

        <a href="{{ url('admin/posts/cadastrar') }}" class="btn btn-dark" tooltip="tooltip" title="Cadastrar Posts">
            Cadastrar
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="tabela" class="table table-hover" data-page-length="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th>{{ post.id }}</th>
                        <td>{{ post.titulo }}</td>
                        <td>
                            {% if post.status == 1 %}
                                Ativo
                            {% else %}
                                Inativo
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url('admin/posts/editar/' ~ post.id) }}" class="btn btn-sm btn-primary">Editar</a>
                            <a href="{{ url('admin/posts/deletar/' ~ post.id) }}" class="btn btn-sm btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}