{% extends "dashboard.html" %}

{% block conteudo %}
<div class="card-border-0 shadow-sm">
    <div class="card-header bg-white border-0">
        <a href="{{url('admin/categorias/cadastrar')}}" class="btn btn-primary">Cadastrar</a>
        <h5 class="card-title">Categorias</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th class="text-center">Status</th>
                        <th>Acção</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <th>{{categoria.id}}</th>
                        <td>{{categoria.titulo}}</td>
                        <td>
                            {% if categoria.status == 1 %}
                            Activo
                            {% else %}
                            Inactivo
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url('admin/categorias/editar/'~categoria.id) }}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}
