{% extends 'base.html' %}

{% block conteudo %}
<div class="container my-5">
    <div class="row">

        {% for post in posts %}
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{{url('post/'~post.id)}}">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <p class="card-text">{{post.texto}}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-lg-3">
    {% include'sidebar.html' %}
</div>
{% endblock %}